################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasketballStats.Api/bin
/BasketballStats.Api/obj
/BasketballStats.Auth/bin
/BasketballStats.Auth/obj
/BasketballStats.Auth/obj
/BasketballStats.Core/bin
/BasketballStats.Core/obj
/BasketballStats.Data/bin
/BasketballStats.Data/obj
/BasketballStats.Protos/bin
/BasketballStats.Protos/obj
/BasketballStats.Utils/bin
/BasketballStats.Utils/obj
